name: Java CI with Maven

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
    db_hostname: 127.0.0.53

jobs:
  build:

    runs-on: ubuntu-latest
     # Docker Hub image that `container-job` executes in
    services:
      # Label used to access the service container
      postgres:
        # Docker Hub image
        image: postgres
        # Provide the password for postgres
        env:
          POSTGRES_PASSWORD: postgres
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          # Maps tcp port 5432 on service container to the host
          - 5432:5432
    steps:
    - uses: actions/checkout@v2

    - name: Setup Java JDK
      uses: actions/setup-java@v1.3.0
      with:
      # The Java version to make available on the path. Takes a whole or semver Java version, or 1.x syntax (e.g. 1.8 => Java 8.x)
        java-version: 11

    - name: Run SQL scripts
      run: PGPASSWORD=postgres psql -h $db_hostname -U postgres -W postgres -f datamodel/initdb.d/01_create_dcsa_owner.sql -f datamodel/initdb.d/02_create_database.sql -f datamodel/initdb.d/03_dcsa_tnt_v1.sql -f datamodel/initdb.d/04_dcsa_v2.sql -f datamodel/testdata.d/05_test_data.sql
    - name: maven-settings-xml-action
      uses: whelk-io/maven-settings-xml-action@v12
      with:
        repositories: '[{ "id": "github", "name": "DCSA Backend repo", "url": "https://maven.pkg.github.com/dcsaorg/DCSA-Backend", "releases": { "enabled": "true" }, "snapshots": { "enabled": "true" } }]'
        servers: '[{ "id": "github", "username": "AsgerStage", "password": "${{ secrets.AS_PACKAGES_PAT }}" }]'
    - name: Build backend
      run: mvn -B package --file pom.xml
    - name: Run backend
      run: java -jar target/dcsa*.war &

    - name: Checkout dcsaorg/DCSA-API-Validator 
      uses: actions/checkout@v2.3.1
      with:
        repository: dcsaorg/DCSA-API-Validator
        ref: master
        token: ${{ secrets.read_repo_pat }}

    - name: Run testsuite
      run: mvn -B package --file pom.xml
